<% if (site.posts.length) { %>
  <div class="widget-wrap widget-list">
      <h3 class="widget-title"><%= __('联系方式') %></h3>
      <div class="widget">
          981086665@qq.com
      </div>
  </div>
<% } %>